@use 'main.scss' as *;

.urutkan {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 50em;
}

:root {
    font-size: 13px;
}

.property {
    position: relative;
    display: flex;
    font-size: 1em;
    font-family: var(--font-family-sans-serif);
    font-weight: var(--font-weight-regular);
    background: var(--surface-color-lowest);
    color: var(--text-color-base); 
    
    .property__sidebar {
        position: sticky;
        display: flex;
        flex-direction: column;
        top: 0;
        height: 100vh;
        width: 100%;
        max-width: 18rem;
        overflow: scroll;
        border-style: var(--border-style-solid);
        border-right-width: var(--border-width-1);
        border-color: var(--color-neutral-50-50);
        background: var(--surface-color-lowest);
        
        .sidebar__container {
            display: flex;
            flex-direction: column;
            padding: var(--spacing-4) 0;
            
            .sidebar__line {
                height: var(--border-width-1);
                width: 100%;
                margin-top: var(--spacing-5);
                background: var(--color-neutral-50-50);
            }
            
            .sidebar__menu {
                display: flex;
                flex-direction: column;
                padding: 0 var(--spacing-3);
                
                .menu__category {
                    font-size: var(--font-size-sm);
                    font-weight: var(--font-weight-semi-bold);
                    margin-top: var(--spacing-5);
                    margin-bottom: var(--spacing-4);
                    padding: 0 var(--spacing-2);
                    color: var(--text-color-low);
                }
                
                .menu__item {
                    text-decoration: none;
                    padding: var(--spacing-2);
                    border-radius: var(--border-radius-xs);
                    color: var(--text-color-high);
                    
                    &:hover {
                        color: var(--text-color-base);
                    }
                    
                    &.active {
                        color: var(--surface-color-lowest);
                        background: var(--color-neutral-50-100);
                    }
                }
            }
        }
    }
    
    .property__content {
        display: flex;
        flex-direction: column;
        width: 60em;
        gap: var(--spacing-6);
        padding: var(--spacing-7);
        
        .property__header {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-4);
            margin-bottom: var(--spacing-4);
            .header__category {
                font-family: var(--font-family-sans-serif);
                line-height: var(--line-height-tight);
                font-weight: var(--font-weight-regular);
                color: var(--text-color-base);
            }
        }
        
        .property__token {
            max-height: 20em;
            overflow-y: scroll;

            table {
                width: 100%;
                
                th {
                    font-weight: var(--font-weight-semi-bold);
                    color: var(--text-color-high);
                    padding: var(--spacing-4) var(--spacing-4);
                }
                td {
                    font-family: var(--font-family-mono);
                    font-size: var(--font-size-sm);
                    padding: var(--spacing-4) var(--spacing-4);
                    border-style: var(--border-style-solid);
                    border-bottom-width: var(--border-width-2);
                    border-color: var(--color-neutral-50-20);
                    &:nth-child(2) {
                        color: var(--text-color-low);
                    }
                    &:nth-child(3) {
                        color: var(--text-color-low);
                    }
                }
                tr:nth-child(2) td {
                    border-top-width: var(--border-width-2);
                    border-top-color: var(--color-neutral-50-40);
                }
                tr:last-child td {
                    border-bottom-width: var(--border-width-2);
                    border-bottom-color: var(--color-neutral-50-40);    
                }
            }
        }
        
        .property__apply {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-7);
            margin-top: var(--spacing-7);
            
            .apply__item {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-4);
                
                .item__title {
                    font-family: var(--font-family-sans-serif);
                    font-weight: var(--font-weight-semi-bold);
                    line-height: .8;
                    padding-left: var(--spacing-3);
                    border-style: var(--border-style-solid);
                    border-left-width: .2em;
                    border-color: var(--color-neutral-50-30);
    
                }
                
                .item__box {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-2);
                    padding: var(--spacing-2);
                    border-style: var(--border-style-solid);
                    border-width: var(--border-width-2);
                    border-radius: var(--border-radius-sm);
                    border-color: var(--color-neutral-50-10);
                    background: var(--color-neutral-600-20);
                    
                    .box__display {
                        display: flex;
                        justify-content: center;
                        padding: var(--spacing-6);
                        border-style: var(--border-style-solid);
                        border-width: var(--border-width-1);
                        border-radius: var(--border-radius-sm);
                        border-color: var(--color-neutral-50-20);
                        background: var(--color-neutral-900-90);
                        overflow: auto;
                        
                        span {
                            display: inline-block;
                            width: 100%;
                        }
                    }
                    
                    .box__code {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: var(--spacing-2) var(--spacing-4);
                        border-style: var(--border-style-solid);
                        border-width: var(--border-width-2);
                        border-radius: var(--border-radius-sm);
                        border-color: var(--color-neutral-200-10);
                        color: var(--text-color-low);
                        
                        .code__copy {
                            width: fit-content;
                            padding: 0;
                            border: 0;
                            cursor: pointer;
                            color: var(--text-color-low);
                            background: transparent;
                        }
                    }
                }
                
            }
        }
    }
}

