
@use 'base/reset';
@use 'base/variables';

@use 'themes/default';

@use 'components/typography';
@use 'components/button';
@use 'components/input';
@use 'components/modal';
@use 'components/alert';
@use 'components/table';
@use 'components/form';


body {
    display     : flex;
    font-family : variables.$font-family-sans-serif;
    font-size   : variables.$font-size-8;
    background  : default.$light-light;
    color       : default.$dark-light;
}



