@forward 'base/base';
@forward 'variables/variables';
@forward 'abstracts/abstracts';
@forward 'generates/generates';
@forward 'utilities/utilities';

body {
    background: var(--color-primary-container);
}