@use "../base/variables";
@use "../themes/default";

.alert {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    padding         : variables.$spacing-4 variables.$spacing-5;
    border-radius   : variables.$radius-normal;
    border-width    : variables.$stroke-normal;
    border-style    : solid;
    border-color    : default.$transparancy-dark-10;
    color           : default.$transparancy-dark-70;
    .alert-info {
        display     : flex;
        align-items : center;
        gap         : variables.$spacing-3;
    }
    > i {
        cursor : pointer;
    }
    /*
    | ------------------------------------------
    |   Type
    | ------------------------------------------
    */
        &.success {
            background : default.$success-light;
        }
        &.warning {
            background : default.$warning-light;
        }
        &.error {
            background : default.$error-light;
        }
}