@use "../base/variables";
@use "../themes/default";

/*
| ------------------------------------------
|   Button
| ------------------------------------------
*/
    a.button,
    .button {
        all             : unset;
        display         : flex;
        flex-direction  : row;
        align-items     : center;
        justify-content : center;
        line-height     : variables.$line-height-normal;
        gap             : variables.$spacing-3;
        height          : 44px;
        width           : fit-content;
        padding         : variables.$spacing-4;
        border-radius   : variables.$radius-normal;
        background      : default.$dark-normal;
        color           : default.$light-light;
        cursor          : pointer;
        user-select     : none;
        box-sizing      : border-box;
        outline         : none;
        /*
        | ------------------------------------------
        |   Icon
        | ------------------------------------------
        */
            &.icon-only i {
                display         : flex;
                align-items     : center;
                justify-content : center;
                aspect-ratio    : 1/1;
                font-size       : variables.$icon-size-medium;
                width           : variables.$icon-size-medium;
            }
        /*
        | ------------------------------------------
        |   Type
        | ------------------------------------------
        */
            &:hover {
                opacity : 80%;
                outline : none;
            }
            &:active {
                outline    : none;
                opacity    : 100%;
                outline    : none;
                background : default.$dark-dark;
            }
            &:focus {
                outline-width : 3px;
                outline-style : solid;
                outline-color : default.$transparancy-dark-50;
            }
            &:disabled,
            &.disabled {
                opacity : 30%;
                cursor  : not-allowed;
            }
        /*
        | ------------------------------------------
        |   Size
        | ------------------------------------------
        */
            &.medium {
                height  : 36px;
                padding : variables.$spacing-3;
            }
            &.small {
                font-size : variables.$font-size-9;
                height    : 28px;
                padding   : variables.$spacing-2 variables.$spacing-3;
                &.icon-only {
                    width     : 28px;
                    padding   : variables.$spacing-2;
                    i {
                        font-size : variables.$icon-size-normal;
                        width     : variables.$icon-size-normal;
                        height    : variables.$icon-size-normal;
                    }
                }
            }
        /*
        | ------------------------------------------
        |   Color
        | ------------------------------------------
        */
            &.primary {
                background : default.$primary-normal;
                &:active {
                    background : default.$primary-dark;
                }
                &:focus {
                    outline-color : default.$primary-light;
                }
            }
            &.secondary {
                background : default.$secondary-normal;
                &:active {
                    background : default.$secondary-dark;
                }
                &:focus {
                    outline-color : default.$secondary-light;
                }
            }
            &.tertiary {
                background : default.$tertiary-normal;
                &:active {
                    background : default.$tertiary-dark;
                }
                &:focus {
                    outline-color : default.$tertiary-light;
                }
            }
        /*
        | ------------------------------------------
        |   Outline
        | ------------------------------------------
        */    
            &.outline {
                border-width : variables.$stroke-normal;
                border-style : solid;
                border-color : default.$dark-normal;
                background   : transparent;
                color        : default.$dark-normal;
                &:active {
                    border-color : default.$dark-dark;
                    background   : transparent;
                }
                &:focus {
                    outline-color : default.$dark-light;
                    background    : transparent;
                }
                &.primary {
                    border-color : default.$primary-normal;
                    color        : default.$primary-normal;
                    &:active {
                        border-color : default.$primary-dark;
                    }
                    &:focus {
                        outline-color : default.$primary-light;
                    }
                }
                &.secondary {
                    border-color : default.$secondary-normal;
                    color        : default.$secondary-normal;
                    &:active {
                        border-color : default.$secondary-dark;
                    }
                    &:focus {
                        outline-color : default.$secondary-light;
                    }
                }
                &.tertiary {
                    border-color : default.$tertiary-normal;
                    color        : default.$tertiary-normal;
                    &:active {
                        border-color : default.$tertiary-dark;
                    }
                    &:focus {
                        outline-color : default.$tertiary-light;
                    }
                }
            }
        /*
        | ------------------------------------------
        |   Borderless
        | ------------------------------------------
        */  
            &.borderless {
                background : transparent;
                color      : default.$dark-normal;
                &:active {
                    background : transparent;
                    color      : default.$dark-dark;
                }
                &:focus {
                    opacity : 70%;
                }
                &.primary {
                    color : default.$primary-normal;
                    &:active {
                        color : default.$primary-dark;
                    }
                }
                &.secondary {
                    color : default.$secondary-normal;
                    &:active {
                        color : default.$secondary-dark;
                    }
                }
                &.tertiary {
                    color : default.$tertiary-normal;
                    &:active {
                        color : default.$tertiary-dark;
                    }
                }
            }
    }
/*
| ------------------------------------------
|   Buttons
| ------------------------------------------
*/
    .buttons {
        display: flex;
        gap: 1em;
    }