/*
| ------------------------------------------
|   Input
| ------------------------------------------
*/
    .input {
        display        : flex;
        flex-direction : column;
        gap            : $spacing-3;
        /*
        | ------------------------------------------
        |   Label
        | ------------------------------------------
        */
            .label {
                display : flex;
                gap     : $spacing-1;
                width   : 100%;
                small {
                    font-size     : $font-size-10;
                    line-height   : $line-height-normal;
                    white-space   : nowrap; 
                    overflow      : hidden;
                    text-overflow : ellipsis; 
                    color         : $transparancy-dark-70;
                }
                .required {
                    color: $error-normal;
                }
            }
        /*
        | ------------------------------------------
        |   Error
        | ------------------------------------------
        */
            .error {
                font-size   : $font-size-10;
                line-height : $line-height-loose;
                color       : $error-normal;
            }
        /*
        | ------------------------------------------
        |   Detail
        | ------------------------------------------
        */
            .detail {
                display         : flex;
                justify-content : space-between;
                gap             : $spacing-3;
                .info {
                    display        : flex;
                    flex-direction : column;
                    gap            : $spacing-1;
                    .message {
                        font-size   : $font-size-10;
                        line-height : $line-height-loose;
                        color       : $transparancy-dark-40;
                    }
                }
                .max {
                    font-size   : $font-size-10;
                    line-height : $line-height-loose;
                    color       : $transparancy-dark-40;
                }
            }
        /*
        | ------------------------------------------
        |   Prefix
        | ------------------------------------------
        */
            .prefix {
                display         : flex;
                align-items     : center;
                justify-content : center;
                white-space     : nowrap;
                width           : fit-content;
                padding         : $spacing-4 0 $spacing-4 $spacing-4;
                color           : $transparancy-dark-50;
                user-select     : none;
            }
        /*
        | ------------------------------------------
        |   Sufix
        | ------------------------------------------
        */
            .surfix {
                display         : flex;
                align-items     : center;
                justify-content : center;
                white-space     : nowrap;
                width           : fit-content;
                padding         : $spacing-4 $spacing-4 $spacing-4 0;
                color           : $transparancy-dark-50;
                user-select     : none;
            }
        /*
        | ------------------------------------------
        |   Text
        | ------------------------------------------
        */
            .input-text {
                display       : flex;
                border-radius : $radius-normal;
                border-width  : $stroke-normal;
                border-style  : solid;
                border-color  : $transparancy-dark-40;
                overflow      : hidden;
                input {
                    line-height : $line-height-normal;
                    height      : 44px;
                    width       : 100%;
                    padding     : $spacing-4;
                    outline     : none;
                    border      : none;
                    background  : transparent;
                    color       : $dark-normal;
                    &::placeholder {
                        opacity : 50%;
                    }
                }
                &:has(input:focus) {
                    border-color : $transparancy-dark-70;
                }
                &:has(input:disabled) {
                    cursor     : not-allowed;
                    opacity    : 50%;
                    background : $transparancy-dark-5;
                }
                &.input-error {
                    border-color : $error-normal;
                }
                /*
                | ------------------------------------------
                |   Color
                | ------------------------------------------
                */
                    &.primary {
                        border-color : $primary-normal;
                        &:has(input:focus) {
                            border-color : $primary-dark;
                        }
                    }
                    &.secondary {
                        border-color : $secondary-normal;
                        &:has(input:focus) {
                            border-color : $secondary-dark;
                        }
                    }
                    &.tertiary {
                        border-color : $tertiary-normal;
                        &:has(input:focus) {
                            border-color : $tertiary-dark;
                        }
                    }
            }
        /*
        | ------------------------------------------
        |   Textarea
        | ------------------------------------------
        */
            .input-textarea {
                position      : relative;
                line-height   : $line-height-loose;
                width         : 100%;
                min-height    : 100px;
                padding       : $spacing-4;
                outline       : none;
                border-radius : $radius-normal;
                border-width  : $stroke-normal;
                border-style  : solid;
                border-color  : $transparancy-dark-40;
                background    : transparent;
                color         : $dark-normal;
                &:focus {
                    border-color : $transparancy-dark-70;
                }
                &:disabled {
                    cursor      : not-allowed;
                    opacity     : 50%;
                    background  : $transparancy-dark-5;
                    user-select : none;
                    resize      : none;
                }
                &::placeholder {
                    opacity : 50%;
                }
                &::-webkit-scrollbar {
                    width: 8px;
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background: $transparancy-dark-50;
                    border-radius: $radius-normal;
                }
                &.input-error {
                    border-color : $error-normal;
                }
                /*
                | ------------------------------------------
                |   Color
                | ------------------------------------------
                */
                    &.primary {
                        border-color : $primary-normal;
                        &:focus {
                            border-color : $primary-dark;
                        }
                    }
                    &.secondary {
                        border-color : $secondary-normal;
                        &:focus {
                            border-color : $secondary-dark;
                        }
                    }
                    &.tertiary {
                        border-color : $tertiary-normal;
                        &:focus {
                            border-color : $tertiary-dark;
                        }
                    }
            }
        /*
        | ------------------------------------------
        |   Select
        | ------------------------------------------
        */
            .input-select {
                position      : relative;
                display       : flex;
                border-radius : $radius-normal;
                border-width  : $stroke-normal;
                border-style  : solid;
                border-color  : $transparancy-dark-40;
                .input-container {
                    position : relative;
                    width    : 100%;
                        input {
                        line-height : $line-height-normal;
                        height      : 44px;
                        width       : 100%;
                        padding     : $spacing-4;
                        outline     : none;
                        border      : none;
                        background  : transparent;
                        color       : $dark-normal;
                        &::placeholder {
                            opacity : 50%;
                        }
                    }
                    &::after {
                        content        : '\25be';
                        position       : absolute;
                        display        : flex;
                        align-items    : center;
                        top            : 0;
                        right          : $spacing-4;
                        bottom         : 0;
                        opacity        : 50%;
                        pointer-events : none;
                    }
                }
                .options {
                    position       : absolute;
                    display        : none;
                    top            : 100%;
                    width          : 100%;
                    margin         : $spacing-3 0 0;
                    padding        : $spacing-4;
                    border-radius  : $radius-normal;
                    border-width   : $stroke-normal;
                    border-style   : solid;
                    border-color   : $transparancy-dark-20;
                    background     : $light-dark;
                    z-index        : 50;
                    ul {
                        flex-direction : column;
                        line-height    : $line-height-normal;
                        max-height     : 160px;
                        overflow-y     : scroll;
                        width          : 100%;
                        color          : $transparancy-dark-80;
                        li {
                            padding       : $spacing-2 $spacing-4;
                            border-radius : $radius-normal;
                            cursor        : pointer;
                            &:hover {
                                background : $transparancy-dark-10;
                            }
                            &.highlight {
                                background : $transparancy-dark-30;
                            }
                        }
                    }
                }
                &:has(input:focus) {
                    border-color : $transparancy-dark-70;
                }
                &:has(input:disabled) {
                    cursor     : not-allowed;
                    opacity    : 50%;
                    background : $transparancy-dark-5;
                }
                &.input-error {
                    border-color : $error-normal;
                }
                /*
                | ------------------------------------------
                |   Color
                | ------------------------------------------
                */
                    &.primary {
                        border-color : $primary-normal;
                        .options {
                            background : $primary-light;
                        }
                        &:has(input:focus) {
                            border-color : $primary-dark;
                        }
                    }
                    &.secondary {
                        border-color : $secondary-normal;
                        .options {
                            background : $secondary-light;
                        }
                        &:has(input:focus) {
                            border-color : $secondary-dark;
                        }
                    }
                    &.tertiary {
                        border-color : $tertiary-normal;
                        .options {
                            background : $tertiary-light;
                        }
                        &:has(input:focus) {
                            border-color : $tertiary-dark;
                        }
                    }
            }
        /*
        | ------------------------------------------
        |   Date
        | ------------------------------------------
        */
            .input-date {
                position      : relative;
                display       : flex;
                border-radius : $radius-normal;
                border-width  : $stroke-normal;
                border-style  : solid;
                border-color  : $transparancy-dark-40;
                overflow      : hidden;
                input {
                    font-size   : inherit;
                    line-height : $line-height-normal;
                    height      : 44px;
                    width       : 100%;
                    padding     : $spacing-4;
                    outline     : none;
                    border      : none;
                    background  : transparent;
                    color       : $dark-normal;
                    appearance  : none;
                    &::-webkit-calendar-picker-indicator {
                    display : none;
                    }
                }
                i {
                    position    : absolute;
                    display     : flex;
                    align-items : center;
                    top         : 0;
                    right       : $spacing-4;
                    bottom      : 0;
                    opacity     : 50%;
                    cursor      : pointer;
                }
                &:has(input:focus) {
                    border-color : $transparancy-dark-70;
                }
                &:has(input:disabled) {
                    cursor     : not-allowed;
                    opacity    : 50%;
                    background : $transparancy-dark-5;
                }
                &.input-error {
                    border-color : $error-normal;
                }
                /*
                | ------------------------------------------
                |   Color
                | ------------------------------------------
                */
                    &.primary {
                        border-color : $primary-normal;
                        &:has(input:focus) {
                            border-color : $primary-dark;
                        }
                    }
                    &.secondary {
                        border-color : $secondary-normal;
                        &:has(input:focus) {
                            border-color : $secondary-dark;
                        }
                    }
                    &.tertiary {
                        border-color : $tertiary-normal;
                        &:has(input:focus) {
                            border-color : $tertiary-dark;
                        }
                    }
            }
        /*
        | ------------------------------------------
        |   Radio
        | ------------------------------------------
        */
            .input-radio {
                display        : flex;
                flex-direction : column;
                label {
                    position    : relative;
                    display     : flex;
                    gap         : $spacing-4;
                    width       : fit-content;
                    padding     : $spacing-2 0;
                    cursor      : pointer;
                    input {
                        display : none;
                    }
                    .checkmark {
                        content         : '';
                        position        : relative;
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        aspect-ratio    : 1/1;
                        height          : 20px;
                        border-radius   : $radius-circle;
                        border-width    : $stroke-normal;
                        border-style    : solid;
                        border-color    : $transparancy-dark-70;
                        background      : $light-light;
                    }
                    &:has(input:checked) .checkmark::after {
                        content         : '';
                        position        : absolute;
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        top             : 20%;
                        right           : 0;
                        bottom          : 0;
                        left            : 20%;
                        width           : 60%;
                        height          : 60%;
                        border-radius   : $radius-circle;
                        background      : $transparancy-dark-70;
                    }
                    &:hover {
                        opacity : 80%;
                    }
                    &:has(input:disabled) {
                        opacity : 50%;
                        cursor  : not-allowed;
                    }
                }
                &.input-error {
                    .checkmark {
                        border-color : $error-normal;
                    }
                }
                /*
                | ------------------------------------------
                |   Color
                | ------------------------------------------
                */
                    &.primary {
                        .checkmark {
                            border-color : $primary-normal;
                        }
                        &:has(input:checked) .checkmark::after {
                            background : $primary-normal;
                        }
                    }
                    &.secondary {
                        .checkmark {
                            border-color : $secondary-normal;
                        }
                        &:has(input:checked) .checkmark::after {
                            background : $secondary-normal;
                        }
                    }
                    &.tertiary {
                        .checkmark {
                            border-color : $tertiary-normal;
                        }
                        &:has(input:checked) .checkmark::after {
                            background : $tertiary-normal;
                        }
                    }
            }
        /*
        | ------------------------------------------
        |   Checkbox
        | ------------------------------------------
        */
            .input-checkbox {
                display        : flex;
                flex-direction : column;
                label {
                    position    : relative;
                    display     : flex;
                    gap         : $spacing-4;
                    width       : fit-content;
                    padding     : $spacing-2 0;
                    cursor      : pointer;
                    input {
                        display : none;
                    }
                    .checkmark {
                        content         : '';
                        position        : relative;
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        aspect-ratio    : 1/1;
                        height          : 20px;
                        border-radius   : $radius-normal;
                        border-width    : $stroke-normal;
                        border-style    : solid;
                        border-color    : $transparancy-dark-70;
                        background      : $light-light;
                        overflow        : hidden;
                        i {
                            display : none;
                        }
                    }
                    &:has(input:checked) .checkmark {
                        &::after {
                            content         : '';
                            position        : absolute;
                            display         : flex;
                            align-items     : center;
                            justify-content : center;
                            top             : 0;
                            right           : 0;
                            bottom          : 0;
                            left            : 0;
                            background      : $transparancy-dark-70;
                        }
                        i {
                            display : block;
                            color   : $light-light;
                            z-index : 5;
                        }
                    }
                    &:hover {
                        opacity : 80%;
                    }
                    &:has(input:disabled) {
                        opacity : 50%;
                        cursor  : not-allowed;
                    }
                }
                &.input-error {
                    .checkmark {
                        border-color : $error-normal;
                    }
                }
                /*
                | ------------------------------------------
                |   Color
                | ------------------------------------------
                */
                    &.primary {
                        .checkmark {
                            border-color : $primary-normal;
                        }
                        label:has(input:checked) .checkmark:after {
                            background : $primary-normal;
                        }
                    }
                    &.secondary {
                        .checkmark {
                            border-color : $secondary-normal;
                        }
                        label:has(input:checked) .checkmark:after {
                            background : $secondary-normal;
                        }
                    }
                    &.tertiary {
                        .checkmark {
                            border-color : $tertiary-normal;
                        }
                        label:has(input:checked) .checkmark:after {
                            background : $tertiary-normal;
                        }
                    }
            }
        /*
        | ------------------------------------------
        |   File
        | ------------------------------------------
        */
            .input-file {
                display         : flex;
                align-items     : center;
                justify-content : space-between;
                gap             : $spacing-4;
                height          : 44px;
                padding         : 0 $spacing-3;
                border-radius   : $radius-normal;
                border-width    : $stroke-normal;
                border-style    : solid;
                border-color    : $transparancy-dark-40;
                button {
                    height        : fit-content;
                    padding       : $spacing-2 $spacing-4;
                    border-radius : $radius-normal;
                    background    : $transparancy-dark-40;
                    color         : $light-light;
                    &:disabled {
                        cursor : not-allowed;
                    }
                }
                form {
                    display        : flex;
                    flex-direction : row !important;
                    align-items    : center;
                    width          : 100%;
                }
                .confirm {
                    display : flex;
                    gap     : $spacing-2;
                    button {
                        width   : 28px;
                        padding : $spacing-2;
                    }
                }
                .placeholder {
                    width       : 100%;
                    opacity     : 30%;
                    user-select : none;
                }
                .value {
                    width         : 90%;
                    padding       : 0 0 0 $spacing-2;
                    overflow      : hidden;
                    text-overflow : ellipsis;
                    white-space   : nowrap;
                }
                input[type="text"] {
                    line-height : $line-height-normal;
                    width       : 100%;
                    padding     : $spacing-4 $spacing-2;
                    outline     : none;
                    border      : none;
                    background  : transparent;
                    color       : $dark-normal;
                    &::placeholder {
                        opacity : 50%;
                    }
                }
                input[type="file"] {
                    display : none;
                }
                &:has(input:focus) {
                    border-color : $transparancy-dark-70;
                }
                &.disabled {
                    cursor     : not-allowed;
                    opacity    : 50%;
                    background : $transparancy-dark-5;
                }
                &.input-error {
                    border-color : $error-normal;
                }
                /*
                | ------------------------------------------
                |   Color
                | ------------------------------------------
                */
                    &.primary {
                        border-color : $primary-normal;
                        button {
                            background : $primary-normal;
                        }
                        .tools ul {
                            background : $primary-light;
                        }
                        &:has(input:focus) {
                            border-color : $primary-dark;
                        }
                    }
                    &.secondary {
                        border-color : $secondary-normal;
                        button {
                            background : $secondary-normal;
                        }
                        .tools ul {
                            background : $secondary-light;
                        }
                        &:has(input:focus) {
                            border-color : $secondary-dark;
                        }
                    }
                    &.tertiary {
                        border-color : $tertiary-normal;
                        button {
                            background : $tertiary-normal;
                        }
                        .tools ul {
                            background : $tertiary-light;
                        }
                        &:has(input:focus) {
                            border-color : $tertiary-dark;
                        }
                    }
            }
    }
/*
| ------------------------------------------
|   Tools
| ------------------------------------------
*/
    .tools {
        position : relative;
        .fa-ellipsis {
            padding : 0 $spacing-3 0 0;
            cursor  : pointer;
            &.disabled {
                cursor : not-allowed;
            }
        }
        ul {
            position       : absolute;
            flex-direction : column;
            line-height    : $line-height-normal;
            top            : 100%;
            right          : 0;
            width          : fit-content;
            margin         : $spacing-3 0 0;
            padding        : $spacing-4;
            border-radius  : $radius-normal;
            border-width   : $stroke-normal;
            border-style   : solid;
            border-color   : $transparancy-dark-20;
            background     : $light-dark;
            color          : $transparancy-dark-80;
            z-index        : 50;
            li {
                white-space   : nowrap;
                padding       : $spacing-2 $spacing-4;
                border-radius : $radius-normal;
                cursor        : pointer;
                > span {
                    display : flex;
                    width   : 100%;
                    > span {
                        display : flex;
                        width   : 100%;
                    }
                }
                &:hover {
                    background : $transparancy-dark-10;
                }
                &.highlight {
                    background : $transparancy-dark-30;
                }
            }
        }
    }