@use "../base/variables";
@use "../themes/default";

.modal {
    position        : fixed;
    display         : flex;
    align-items     : center;
    justify-content : center;
    top             : 0;
    right           : 0;
    bottom          : 0;
    left            : 0;
    background      : #000000DE;
    backdrop-filter : blur(2px);
    z-index         : 500;
    .modal-container {
        display        : flex;
        flex-direction : column;
        padding        : variables.$spacing-4;
        border-radius  : variables.$radius-medium;
        background     : default.$light-normal;
        box-sizing     : border-box;
        .modal-empty {
            display         : flex;
            align-items     : center;
            justify-content : center;
            font-size       : variables.$font-size-10;
            height          : 8em;
            width           : 19em;
            color           : default.$transparancy-dark-30;
        }
    }
}