.table {
    /*
    | ------------------------------------------
    |   Table Head
    | ------------------------------------------
    */
        th {
            font-family         : inherit;
            font-size           : $font-size-10;
            font-weight         : $font-weight-regular;
            text-align          : start;
            vertical-align      : middle;
            padding             : $spacing-3;
            border-bottom-width : $stroke-normal;
            border-bottom-style : solid;
            border-bottom-color : $transparancy-dark-30;
            color               : $transparancy-dark-50;
            cursor              : pointer;
        }
    /*
    | ------------------------------------------
    |   Table Data
    | ------------------------------------------
    */
        td {
            font-family         : inherit;
            font-size           : $font-size-9;
            font-weight         : $font-weight-regular;
            text-align          : start;
            padding             : $spacing-3;
            border-bottom-width : $stroke-normal;
            border-bottom-style : solid;
            border-bottom-color : $transparancy-dark-10;
            color               : $dark-normal;
            vertical-align      : middle;
            
            &.empty {
                text-align : center;
                padding    : $spacing-8 $spacing-2;
                small {
                    font-size : $font-size-10;
                }
            }
                  
            .action {
                display     : flex;
                align-items : center;
                gap         : $spacing-3;
                cursor      : pointer;
            }
        }
    /*
    | ------------------------------------------
    |   Table Row
    | ------------------------------------------
    */
        tr {
            &:has(td):hover {
                background : linear-gradient(90deg, $transparancy-dark-5, $transparancy-dark-20, $transparancy-dark-5);
            }
            &:has(td.empty) {
                background : transparent;
            }
        }
}
