@use "../base/variables";
@use "../themes/default";

.table {
    /*
    | ------------------------------------------
    |   Table Head
    | ------------------------------------------
    */
        th {
            font-family         : inherit;
            font-size           : variables.$font-size-10;
            font-weight         : variables.$font-weight-regular;
            text-align          : start;
            vertical-align      : middle;
            padding             : variables.$spacing-3;
            border-bottom-width : variables.$stroke-normal;
            border-bottom-style : solid;
            border-bottom-color : default.$transparancy-dark-30;
            color               : default.$transparancy-dark-50;
            cursor              : pointer;
        }
    /*
    | ------------------------------------------
    |   Table Data
    | ------------------------------------------
    */
        td {
            font-family         : inherit;
            font-size           : variables.$font-size-9;
            font-weight         : variables.$font-weight-regular;
            text-align          : start;
            padding             : variables.$spacing-3;
            border-bottom-width : variables.$stroke-normal;
            border-bottom-style : solid;
            border-bottom-color : default.$transparancy-dark-10;
            color               : default.$dark-normal;
            vertical-align      : middle;
            
            &.empty {
                text-align : center;
                padding    : variables.$spacing-8 variables.$spacing-2;
                small {
                    font-size : variables.$font-size-10;
                }
            }
                  
            .action {
                display     : flex;
                align-items : center;
                gap         : variables.$spacing-3;
                cursor      : pointer;
            }
        }
    /*
    | ------------------------------------------
    |   Table Row
    | ------------------------------------------
    */
        tr {
            &:has(td):hover {
                background : linear-gradient(90deg, default.$transparancy-dark-5, default.$transparancy-dark-20, default.$transparancy-dark-5);
            }
            &:has(td.empty) {
                background : transparent;
            }
        }
}
