/*
| --------------------------------------------------
|  Height
| --------------------------------------------------
*/    
    $height: (
        'min' : 'min-height',
        'max' : 'max-height'
    );
/*
| --------------------------------------------------
|  Width
| --------------------------------------------------
*/    
    $width: (
        'min' : 'min-width',
        'max' : 'max-width'
    );