@use "../base/variables";

body.dark {
    /*
    | ------------------------------------------
    |   Primary
    | ------------------------------------------
    */
        --primary-light  : #{variables.$deep-pink-600};
        --primary-normal : #{variables.$deep-pink-300};
        --primary-dark   : #{variables.$deep-pink-100};
    /*
    | ------------------------------------------
    |   Secondary
    | ------------------------------------------
    */
        --secondary-light  : #{variables.$blue-200};
        --secondary-normal : #{variables.$blue-100};
        --secondary-dark   : #{variables.$blue-50};
        
    /*
    | ------------------------------------------
    |   Tertiary
    | ------------------------------------------
    */
        --tertiary-light  : #{variables.$aquamarine-800};
        --tertiary-normal : #{variables.$aquamarine-600};
        --tertiary-dark   : #{variables.$aquamarine-200};
    /*
    | ------------------------------------------
    |   Dark
    | ------------------------------------------
    */
        --dark-light  : #{variables.$gray-300};
        --dark-normal : #{variables.$gray-100};
        --dark-dark   : #{variables.$gray-50};
    /*
    | ------------------------------------------
    |   Light
    | ------------------------------------------
    */
        --light-light  : #{variables.$gray-950};
        --light-normal : #{variables.$gray-900};
        --light-dark   : #{variables.$gray-800};
    /*
    | ------------------------------------------
    |   Error
    | ------------------------------------------
    */
        --error-light  : #{variables.$red-600};
        --error-normal : #{variables.$red-300};
        --error-dark   : #{variables.$red-100};
    /*
    | ------------------------------------------
    |   Warning
    | ------------------------------------------
    */
        --warning-light  : #{variables.$gold-700};
        --warning-normal : #{variables.$gold-300};
        --warning-dark   : #{variables.$gold-100};
    /*
    | ------------------------------------------
    |   Success
    | ------------------------------------------
    */
        --success-light  : #{variables.$sea-green-600};
        --success-normal : #{variables.$sea-green-300};
        --success-dark   : #{variables.$sea-green-100};
    /*
    | ------------------------------------------
    |   Transparancy Light
    | ------------------------------------------
    */        
        --transparancy-light-5  : #0000000D;
        --transparancy-light-10 : #0000001A;
        --transparancy-light-20 : #00000033;
        --transparancy-light-30 : #0000004D;
        --transparancy-light-40 : #00000066;
        --transparancy-light-50 : #00000080;
        --transparancy-light-60 : #00000099;
        --transparancy-light-70 : #000000B3;
        --transparancy-light-80 : #000000CC;
        --transparancy-light-90 : #000000E6;
    /*
    | ------------------------------------------
    |   Transparancy Dark
    | ------------------------------------------
    */          
        --transparancy-dark-5  : #ffffff0D;
        --transparancy-dark-10 : #ffffff1A;
        --transparancy-dark-20 : #ffffff33;
        --transparancy-dark-30 : #ffffff4D;
        --transparancy-dark-40 : #ffffff66;
        --transparancy-dark-50 : #ffffff80;
        --transparancy-dark-60 : #ffffff99;
        --transparancy-dark-70 : #ffffffB3;
        --transparancy-dark-80 : #ffffffCC;
        --transparancy-dark-90 : #ffffffE6;
}