/*
 | --------------------------------------------------
 |  Align Items
 | --------------------------------------------------
 */
    $align-items: (
        "start"    : start,
        "end"      : end,
        "center"   : center,
        "stretch"  : stretch,
        "baseline" : baseline
    );
/*
| --------------------------------------------------
|  Align Self
| --------------------------------------------------
*/
    $align-self: (
        "start"    : start,
        "end"      : end,
        "center"   : center,
        "stretch"  : stretch,
        "baseline" : baseline
    );
/*
| --------------------------------------------------
|  Align Content
| --------------------------------------------------
*/
    $align-content: (
        "start"         : start,
        "end"           : end,
        "center"        : center,
        "stretch"       : stretch,
        "space-between" : space-between,
        "space-around"  : space-around,
        "space-evenly"  : space-evenly
    );
/*
| --------------------------------------------------
|  Justify Items
| --------------------------------------------------
*/
    $justify-items: (
        "start"   : start,
        "end"     : end,
        "center"  : center,
        "stretch" : stretch
    );
/*
| --------------------------------------------------
|  Justify Self
| --------------------------------------------------
*/
    $justify-self: (
        "start"   : start,
        "end"     : end,
        "center"  : center,
        "stretch" : stretch
    );
/*
| --------------------------------------------------
|  Justify Content
| --------------------------------------------------
*/
    $justify-content: (
        "start"         : start,
        "end"           : end,
        "center"        : center,
        "stretch"       : stretch,
        "space-between" : space-between,
        "space-around"  : space-around,
        "space-evenly"  : space-evenly
    );