/*
 | --------------------------------------------------
 |  Border Radius
 | --------------------------------------------------
 */
    $border-radius: (
        "none" : 0em,
        'xs'   : 0.25em,
        'sm'   : 0.5em,
        'md'   : 0.75em,
        'lg'   : 1em,
        "full" : 500em
    );
/*
 | --------------------------------------------------
 |  Border Width
 | --------------------------------------------------
 */
    $border-width: (
        0 : 0em,
        1 : 0.05em,
        2 : 0.07em,
        3 : 0.125em,
        4 : 0.25em
    );
/*
 | --------------------------------------------------
 |  Border Style
 | --------------------------------------------------
 */
    $border-style: (
        'solid'  : solid,
        'dashed' : dashed,
        'dotted' : dotted,
        'double' : double,
        'groove' : groove,
        'ridge'  : ridge
    );