/*
 | --------------------------------------------------
 |  Flex Direction
 | --------------------------------------------------
 */
    $flex-direction: (
        "row"            : row,
        "column"         : column,
        "row-reverse"    : row-reverse,
        "column-reverse" : column-reverse
    );