/*
 | --------------------------------------------------
 |  Display
 | --------------------------------------------------
 */
    $display: (
        "none"         : none,
        "inline"       : inline,
        "block"        : block,
        "inline-block" : inline-block,
        "flex"         : flex,
        "grid"         : grid,
        "table"        : table
    );