/*
 | --------------------------------------------------
 |  Sizing
 | --------------------------------------------------
 */
    $sizing: (
        0   : 0%,
        10  : 10%,
        20  : 20%,
        25  : 25%,
        30  : 30%,
        40  : 40%,
        50  : 50%,
        60  : 60%,
        70  : 70%,
        75  : 75%,
        80  : 80%,
        90  : 90%,
        100 : 100%
    );
/*
 | --------------------------------------------------
 |  View Height
 | --------------------------------------------------
 */
    $view-height: (
        0   : 0vh,
        10  : 10vh,
        20  : 20vh,
        25  : 25vh,
        30  : 30vh,
        40  : 40vh,
        50  : 50vh,
        60  : 60vh,
        70  : 70vh,
        75  : 75vh,
        80  : 80vh,
        90  : 90vh,
        100 : 100vh
    );
/*
 | --------------------------------------------------
 |  View Width
 | --------------------------------------------------
 */
    $view-width: (
        0   : 0vw,
        10  : 10vw,
        20  : 20vw,
        25  : 25vw,
        30  : 30vw,
        40  : 40vw,
        50  : 50vw,
        60  : 60vw,
        70  : 70vw,
        75  : 75vw,
        80  : 80vw,
        90  : 90vw,
        100 : 100vw
    );