/*
| ------------------------------------------
|   Color
| ------------------------------------------
*/
    $color: (
        "primary"   : #333333,
        "secondary" : #777777,
        "success"   : #20C163,
        "danger"    : #EE4252,
        "warning"   : #FFCA2C,
        "info"      : #0BA5BC,
        "light"     : #FEFEFE,
        "dark"      : #010101,
        
        "rose"      : #FF1D8D,
        "red"       : #FA003F,
        "orange"    : #FF8C00,
        "sunset"    : #FFFF00,
        "grass"     : #3CB371,
        "blue"      : #1E90FF,
        "indigo"    : #4B0082,
    );
/*
| ------------------------------------------
|   Color Shade
| ------------------------------------------
*/
    $color-shade: ( 
        50  : 5, 
        100 : 4, 
        200 : 3, 
        300 : 2, 
        400 : 1, 
        500 : 0, 
        600 : 1, 
        700 : 2, 
        800 : 3, 
        900 : 4, 
        950 : 5
    );
/*
| ------------------------------------------
|   Font Family
| ------------------------------------------
*/
    @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

    $font-family: (
        "serif"      : "Figtree",  
        "sans-serif" : "DM Serif Display"
    );
/*
| ------------------------------------------
|   Font Size
| ------------------------------------------
*/
    $font-size: (
        "xs"     : 0.7rem,
        "sm"     : 0.85rem,
        "normal" : 1rem,
        "md"     : 1.1rem,
        "lg"     : 1.4rem,
        "xl"     : 1.8rem,
        "2xl"    : 2.2rem,
        "3xl"    : 3rem
    );
/*
| ------------------------------------------
|   Font Weight
| ------------------------------------------
*/
    $font-weight: (
        "light"  : 250,
        "normal" : 300,
        "bold"   : 600,
        "black"  : 900,
    );
/*
| ------------------------------------------
|   Letter Spacing
| ------------------------------------------
*/
    $letter-spacing: (
        "tighter" : -0.05em,
        "tight"   : -0.025em,
        "normal"  : 0,
        "wide"    : 0.025em,
        "wider"   : 0.05em,
        "widest"  : 0.1em
    );
/*
| ------------------------------------------
|   Line Height
| ------------------------------------------
*/
    $line-height: (
        "none"    : 1,
        "tight"   : 1.25,
        "snug"    : 1.375,
        "normal"  : 1.5,
        "relaxed" : 1.625,
        "loose"   : 2
    );
/*
| ------------------------------------------
|   Transition Duration
| ------------------------------------------
*/
    $transition-duration: (
        "none"   : 0ms,
        "fast"   : 250ms,
        "normal" : 500ms,
        "slow"   : 1s
    );
/*
| ------------------------------------------
|   Spacing (Margin & Padding)
| ------------------------------------------
*/
    $spacing: (
        "0" : 0,
        "1" : 0.25rem,
        "2" : 0.5rem,
        "3" : 1rem,
        "4" : 1.5rem,
        "5" : 2rem,
        "6" : 3rem
    );
/*
| ------------------------------------------
|   Size (Width & Height)
| ------------------------------------------
*/
    $size: (
        "0"    : 0,
        "1"    : 25%,
        "2"    : 50%,
        "3"    : 75%,
        "4"    : 100%,
        "auto" : auto
    );
/*
| ------------------------------------------
|   Z-Index
| ------------------------------------------
*/
    $z-index: (
        "0"    : 0,
        "1"    : 10,
        "2"    : 20,
        "3"    : 30,
        "4"    : 40,
        "5"    : 50,
        "auto" : auto
    );
/*
| ------------------------------------------
|   Opacity
| ------------------------------------------
*/
    $opacity: (
        "0"   : 0,
        "25"  : 0.25,
        "50"  : 0.50,
        "75"  : 0.75,
        "100" : 1,
    );
/*
| ------------------------------------------
|   Border Size
| ------------------------------------------
*/
    $border-size: (
        "none"    : 0,
        "sm"      : 0.8px,
        "default" : 1px,
        "md"      : 1.2px,
        "lg"      : 2px
    );
/*
| ------------------------------------------
|   Border Radius
| ------------------------------------------
*/
    $border-radius: (
        "none"    : 0,
        "sm"      : 0.125rem,
        "default" : 0.25rem,
        "md"      : 0.375rem,
        "lg"      : 0.5rem,
        "full"    : 9999px
    );
/*
| ------------------------------------------
|   Breakpoint
| ------------------------------------------
*/
    $breakpoint: (
        "sm" : 576px,
        "md" : 768px,
        "lg" : 992px,
        "xl" : 1200px
    );
/*
| ------------------------------------------
|   Shadow
| ------------------------------------------
*/
    $shadow: (
        "sm" : 0 1px 2px,
        "md" : 0 4px 6px,
        "lg" : 0 10px 15px
    );
/*
| ------------------------------------------
|   Grid Column
| ------------------------------------------
*/
    $grid-columns : 12;