@use 'base/reset';
@use 'components/button';
@use 'components/input';
@use 'utilities/color';
@use 'utilities/shape';
@use 'utilities/sizing';
@use 'utilities/typography';

:root {
    font-size: 14px;
}
body {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background: #111;
    > div {
        display: flex;
    }
}