@use '../abstracts/mixins' as *;
@use '../variables/flex' as *;

/*
 | --------------------------------------------------
 |  Flex Direction
 | --------------------------------------------------
 */
    @include utility(
        $default-prop : flex-direction,
        $prefix       : 'flex-direction',
        $variable     : $flex-direction
    );