@use '../abstracts/mixins' as *;
@use '../variables/sizing' as *;
@use '../maps/sizing';

/*
 | --------------------------------------------------
 |  Width
 | --------------------------------------------------
 */
    @include utility(
        $default-prop : width,
        $prefix       : 'width',
        $variable     : $sizing,
        $maps         : sizing.$width
    );
/*
 | --------------------------------------------------
 |  Height
 | --------------------------------------------------
 */
    @include utility(
        $default-prop : height,
        $prefix       : 'height',
        $variable     : $sizing,
        $maps         : sizing.$height
    );
/*
 | --------------------------------------------------
 |  View Height
 | --------------------------------------------------
 */
    @include utility(
        $default-prop : height,
        $prefix       : 'vh',
        $variable     : $view-height,
        $maps         : sizing.$height
    );
/*
 | --------------------------------------------------
 |  View Width
 | --------------------------------------------------
 */
    @include utility(
        $default-prop : width,
        $prefix       : 'vw',
        $variable     : $view-width,
        $maps         : sizing.$width
    );